/*
	PAC3 - Carles Melgarejo
*/

/* GLOBAL STYLES */
*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 2.27vw;
    color: rgb(0, 0, 0);
	box-sizing: border-box;
}

abbr{
	text-decoration: none;
}

img{
	max-width: 100%;
}

/* HEADER STYLES */
header#top{
	height: 22.5rem;
	margin: 0;
	padding: 2.9rem 0 2.6rem 0;
	position: sticky;
	top: 0;
	background-color: rgb(255,255,255);
	width: 100%;
	box-shadow: 0 3px 28px 0px rgba(121, 121, 121, 0.1);
}

header .header-wrapper{
	max-width: 1163px;
	text-align: center;
}

header .header-wrapper p{
	text-transform: uppercase;
	display: block;
	font-weight: 400;
	font-size: 1.3rem;
}

header .header-wrapper > a{
	font-weight: 800;
	font-size: 5.7rem;
	text-decoration: none;
	color: rgb(0,0,0);
	line-height: 1.1;
}

header .header-wrapper > nav{
	margin: 2.78rem 0 0 0;
}

header .header-wrapper > nav ul li{
	list-style: none;
	line-height: 1.2;
	margin: 0.6rem 0;
	color: rgb(0, 0, 0);
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 1.1;
}

header .header-wrapper > nav ul li.active{
	color: rgb(189, 55, 0);
}

header .header-wrapper > nav ul li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

header .header-wrapper > nav ul li a:hover{
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}

header .header-wrapper > nav ul li a.active{
	color: rgb(189, 55, 0);
}

/* MAIN STYLES */
	main{
		background-color: rgb(244,244,244);
		margin: 0;
		padding: 4.4rem 1.4rem 5rem;
	}

	main > h1{
		font-size: 2.5rem;
		text-align: center;
		margin: 0 0 3rem 0;
	}


/* HOME PAGE */
	.home-page main{
		margin: 0;
		padding: 0;
	}

	.home-page main header{
		background-image: url('../images/bg-hero-home.jpg');
		background-position: center left;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.home-page main > header h1{
		font-weight: 400;
		font-size: 4rem;
		color: rgb(255,255,255);
		max-width: 1163px;
		padding: 7.4rem 1.3rem 8rem;
		line-height: 1.4;	
	}

	.home-page main > section{
		max-width: 1163px;
		padding: 0 1.5rem 0 1.4rem;
		margin: 0 0 8rem 0;
	}

	.home-page main > section:first-of-type{
		margin: 0 0 11rem 0;
	}

	.home-page main section h2{
		text-align: center;
		margin: 5rem 0 1.8rem 0;
		font-size: 2.4rem;
	}

	.home-page main > section p{
		font-size: 2.1rem;
		line-height: 1.5;
		margin: 0 0 2.5rem 0;
	}

	.home-page main section .news-flex-wrapper article time{
		font-size: 1.55rem;
		margin: 1.9rem 0 1.5rem;
		display: block;
	}

	.home-page main section .news-flex-wrapper article h3{
		font-size: 2rem;
		font-weight: 600;
		margin: 0 0 1.5rem;
	}

	.home-page main section .news-flex-wrapper article h3 a{
		color: rgb(189, 55, 0);
		text-decoration: none;
		display: block;
	}

	.home-page main section .news-flex-wrapper article h3 a:hover{
		color: rgb(0, 0, 0);
	}

	.home-page main section .news-flex-wrapper article p{
		font-size: 1.6rem;
		line-height: 1.55;
		margin: 0 0 1.5rem 0;
	}

	.home-page main section .news-flex-wrapper article > a{
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0 0 2.5rem 0;
		font-weight: 600;
		color: rgb(189, 55, 0);
		display: block;
		text-decoration: none;
		border-bottom: 1px dotted rgb(189, 55, 0);
		width: max-content;
		padding-bottom: 0.2rem;
	}

	.home-page main section .news-flex-wrapper article > a:hover{
		color: rgb(0, 0, 0);
		border-bottom: 1px dotted rgb(0, 0, 0);
	}
	.home-page main section:last-child{
		background-color: rgb(242, 232, 228);
		padding: 5rem 0 7rem 0;
		margin: 0 0 0 0;
	}

	.home-page main section:last-child h2{
		max-width: 1163px;
		margin: 0 0 1.4rem 0;
		line-height: 1.1;
	}

	.home-page main section:last-child form{
		max-width: 1163px;
		padding: 0 3.2rem;
	}

	.home-page main section:last-child form input[type=text],
	.home-page main section:last-child form input[type=email]{
		font-size: 1.9rem;
		padding: 1.4rem 1.4rem;
		width: 36.9rem;
		display: block;
		margin: 0 0 1.5rem 0;
		letter-spacing: -1px;
	}

	.home-page main section:last-child form p{
		font-size: 1.05rem;
		margin: 1.6rem 0 2.5rem 0;
		padding: 0 0.5rem 0 0;
	}

	.home-page main section:last-child form p a{
		color: rgb(189, 55, 0);
		text-decoration: none;
	}

	.home-page main section:last-child form p a:hover{
		color:rgb(0, 0, 0)
	}

	.home-page main section:last-child form label{
		font-size: 1.05rem;
		margin-left: 0.4rem;
		display: none;
	}
	.home-page main section:last-child form label#legallabel{
		display: inline-block;
	}
	.home-page main section:last-child form button{
		display: block;
		margin: 1.9rem 0 0 0;
		border-radius: 0;
		border: none;
		background-color: rgb(189, 55, 0);
		color: rgb(255,255,255);
		padding: 1.5rem 3rem;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.8rem;
	}

	.home-page main section:last-child form button:hover{
		background-color: rgb(0, 0, 0);
	}

/* SIMPTOMES */
	.simptomes main section{
		background-color: rgb(255,255,255);
		padding: 3.7rem 2.1rem 1.4rem 2.4rem;
		border-radius: 9px;
		margin: 0 0 1.6rem 0;
	}

	.simptomes main section div h2{
		font-size: 2rem;
		font-weight: 600;
		margin: 1.2rem 0 0.6rem 0;
	}

	.simptomes main section div p{
		font-size: 1.6rem;
		line-height: 1.6;
	}

	.simptomes main section div p cite{
		font-weight: 600;
	}

	.simptomes main section div a{
		color: rgb(189, 55, 0);
		text-decoration: none;
	}

	.simptomes main section div a:hover{
		text-decoration: underline;
		color: rgb(0,0,0);
	}

	.simptomes main section div > a{
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 1.2rem 0 0 0;
		font-weight: 600;
		color: rgb(189, 55, 0);
		display: block;
		text-decoration: none;
		border-bottom: 1px dotted rgb(189, 55, 0);
		width: max-content;
		padding-bottom: 0.2rem;
	}

	.simptomes main section div > a:hover{
		text-decoration: none;
		color: rgb(0,0,0);
		border-bottom: 1px dotted rgb(0, 0, 0);
	}

/* VIDEOS */
	.videos main > ul li{
		background-color: rgb(255,255,255);
		margin: 0 0 2.3rem 0;
		list-style: none;
	}

	.videos main > ul li iframe{
		width: 41.3rem;
		height: 23.3rem;
		border: 0;
	}

	.videos main > ul li p{
		font-size: 1.6rem;
		padding: 1.6rem 3.2rem;
		text-align: center;
	}

	.videos main > ul li p cite{
		font-weight: 600;
	}

/* COP26 */
	.cop26 main section .box1{
		margin: 0 0 3rem 0;
	}

	.cop26 main > section{
		padding: 0 1.6rem;
	}

	.cop26 main > section > div h2{
		font-weight: 600;
		font-size: 2.1rem;
		margin: 0 0 2rem 0;
	}

	.cop26 main > section .box1 img{
		margin: 0 0 2rem 0;
	}

	.cop26 main > section .box1 dl dt{
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.3rem;
		margin: 0 0 0.1rem 0;
	}

	.cop26 main > section .box1 dl dd{
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0 0 1.6rem 0;	
	}

	.cop26 main > section .box1 dl dd a{
		color: rgb(189, 55, 0);
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0 0 1.4rem 0;
	}

	.cop26 main > section .box1 dl dd a:hover{
		color: rgb(0, 0, 0);
		text-decoration: underline;
	}

	.cop26 main > section .box2 p{
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0 0 1.6rem 0;	
	}

	.cop26 main > section .box2 p strong{
		font-weight: 600;
	}

	.cop26 main > section  .box2 > ol{
		margin: 0 0 2.8rem 0;
	}

	.cop26 main > section  .box2 > ol li{
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0 0 1.6rem 31px;
	}

	.cop26 main > section  .box2 blockquote {
		background-color: rgb(255,255,255);
		border-left: 5px solid #FF1616;
		font-size: 1.6rem;
		line-height: 1.5;
		margin-bottom: 3.2rem;
		padding: 1.8rem 1.7rem 1.4rem;
	}
	
	.cop26 main > section  .box2 blockquote p{
		margin-bottom: 1.6rem;
		font-style: italic;
	}

	.cop26 main > section  .box2 blockquote cite{
		font-weight: 600;
	}

/* FOOTER STYLES */
	footer{
		text-align: center;
		background-color: rgb(0, 0, 0);
		position: relative;
	}

	footer .footer-wrapper{
		max-width: 1163px;
		color: rgb(255, 255, 255);
		font-weight: 600;
		font-size: 1.9rem;
		padding: 6rem 3rem 3.5rem;
	}

	footer .footer-wrapper ul li{
		list-style: none;
	}

	footer .footer-wrapper ul li.circle{
		display: none;
	}

	footer .footer-wrapper ul li a{
		color: rgb(255, 255, 255);
		text-decoration: none;
	}

	footer .footer-wrapper ul li a i{
		font-style: normal;
	}

	footer .footer-wrapper ul li a:hover {
		color: rgb(189, 55, 0);
		text-decoration: none;
	}

	footer .footer-wrapper ul:last-of-type{
		margin: 3rem auto;
	}

	footer .footer-wrapper ul:last-of-type li{
		list-style: none;
		display: inline-block;
	}

	footer .footer-wrapper ul:last-of-type li a:hover {
		opacity: 0.7;
	}

	footer .footer-wrapper p{
		color: rgb(255, 255, 255);
		line-height: 1.6;
	}

	footer .footer-wrapper > a:last-of-type{
		transform: rotate(90deg);
		color: rgb(255, 255, 255);
		line-height: 0;
		margin: 0 0 0 auto;
		display: inline-flex;
		text-decoration: none;
		font-weight: 200;
		font-size: 4rem;
		position: absolute;
		bottom: 1.4rem;
		right: 2rem;
	}

/* MEDIA QUERIES */
	@media screen and (min-width: 960px){
		html {
			font-size: 10px;
		}
		header#top {
			height: 20.5rem;
		}
		header .header-wrapper {
			text-align: left;
			padding: 0 2.6rem;
		}
		header .header-wrapper p{
			font-size: 1.9rem;
		}
		header .header-wrapper > a{
			font-size: 7rem;
		}
		header .header-wrapper > a span{
			font-size: 1.8rem;
		}
		header .header-wrapper > nav{
			margin: 2.8rem 0.3rem;
		}
		header .header-wrapper > nav ul li{
			display: inline-block;
			margin: 0 3.2rem 0 0;
			font-size: 1.8rem;
		}

		/* MAIN STYLES */
		main {
			margin: 0;
			padding: 4.4rem 0 5rem;
		}
		main > h1{
			font-size: 3.9rem;
		}

		/* HOME */
		.home-page main {
			margin: 0;
			width: 100%;
			background-color: rgb(255,255,255);
		}
		.home-page main > section:first-of-type {
			margin: 0 auto 11rem;
		}
		.home-page main header{
			background-position: top center;
			background-size: 100%;
			padding: 0;
		}
		.home-page main > header h1{
			font-size: 8rem;
			padding: 10.4rem 2.6rem 12rem;
		}
		.home-page main section h2{
			margin: 5rem 0 1.8rem 0;
			font-size: 3.9rem;
		}
		.home-page main > section p{
			font-size: 3.1rem;
			margin: 0 0 2rem 0;
		}
		.home-page main > section{
			margin: 0 auto 5rem auto;
			padding: 0 2.6rem;
		}
		.home-page main > section > div{
			display: flex;
		}
		.home-page main > section:nth-of-type(2){
			max-width: 1163px;
			padding: 0;
		}
		.home-page main section .news-flex-wrapper article{
			flex: 1;
			padding: 0 2.7rem;
		}
		.home-page main section .news-flex-wrapper article time{
			margin: 1.6rem 0 1.4rem;
		}
		.home-page main section .news-flex-wrapper article h3{
			font-size: 2.4rem;
		}
		.home-page main section .news-flex-wrapper article p{
			font-size: 1.78rem;
		}
		.home-page main section:last-child{
			margin: 0 auto;
			max-width: initial;
		}
		.home-page main section:last-child h2{
			font-size: 3.9rem;
		}
		.home-page main section:last-child form{
			max-width: 549px;
			padding: 0;
		}
		.home-page main section:last-child form input[type="text"],
		.home-page main section:last-child form input[type="email"]{
			width: 100%;	
		}
		.home-page main section:last-child h2 {
			margin: 0 auto 1.4rem;
		}

		/* SIMPTOMES */
		.simptomes main section{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			max-width: 1163px;
			margin: 0 auto 4.2rem auto;
			background-color: initial;
			padding: 0 2.6rem;
			border-radius: 0;
		}
		.simptomes main section:nth-child(even) .box1{
			grid-row: 1;
			grid-column: 1;
			padding: 2rem 1.3rem 2rem 2rem;
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
		}
		.simptomes main section:nth-child(even) .box2{
			grid-row: 1;
			grid-column: 2;
			padding: 2rem 1.8rem 2rem 0;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}
		.simptomes main section:nth-child(odd) .box1{
			grid-row: 1;
			grid-column: 2;
			padding: 2rem 1.3rem 2rem 2rem;
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
		}
		.simptomes main section:nth-child(odd) .box2{
			grid-row: 1;
			grid-column: 3;
			padding: 2rem 1.8rem 2rem 0;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}
		.simptomes main section div{
			background-color: rgb(255,255,255);
		}
		.simptomes main section .box2 h2{
			font-size: 2.3rem;
			margin: 0 0 0.6rem 0;
		}
		.simptomes main section .box2 p{
			font-size: 1.6rem;
			line-height: 1.6;
			text-align: justify;
			hyphens: auto;
		}
		.simptomes main section div img{
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		/* VIDEOS */
		.videos main{
			padding: 4.4rem 0 10rem;
		}
		.videos main h1{
			margin: 0 0 4.5rem 0;
		}
		.videos main > ul{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2.6rem;
			max-width: 1163px;
			margin: 0 auto;
			padding: 0 2.6rem;
		}
		.videos main > ul li{
			background-color: rgb(255,255,255);
			margin: 0 0 2.3rem 0;
			list-style: none;
		}
		.videos main > ul li iframe{
			width: 100%;
			height: 26vw;
			max-height: 30.5rem;
		}

		/* COP26 */
		.cop26 main section {
			margin: 0 auto 3rem auto;
		}
		.cop26 main > section{
			display: flex;
			max-width: 1163px;
			margin: 0 auto;
			padding: 1.5rem 3.6rem 0 4.2rem;
		}
		.cop26 main > section .box1{
			flex: 1 16rem;
			margin-right: 9.8rem;
		}
		.cop26 main > section > div h2{
			font-size: 2.4rem;
			margin: 0 0 1.7rem 0;
		}
		.cop26 main > section .box1 img{
			margin: 0 0 1.7rem 1.5rem;
		}
		.cop26 main > section .box1 dl dd{
			font-size: 1.77rem;
			line-height: 1.5;
		}
		.cop26 main > section .box2{
			flex: 2;
		}
		.cop26 main > section .box2 p{
			text-align: justify;
			hyphens: auto;
			font-size: 1.77rem;
			line-height: 1.5;
		}
		.cop26 main > section .box2 ol{
			margin: 0 0 2.6rem 3rem;
		}
		.cop26 main > section .box2 ol li{
			text-align: justify;
			hyphens: auto;
			font-size: 1.77rem;
			line-height: 1.5;
			margin: 0 0 1.6rem 0;
		}
		.cop26 main > section .box2 blockquote p{
			text-align: justify;
			hyphens: auto;
			font-size: 1.79rem;
			line-height: 1.5;
		}

		footer {
			text-align: left;
			padding: 6.5rem 0 3.4rem;
		}
		footer .footer-wrapper{
			padding: 0 2.6rem;
			font-size: 1.9rem;
		}
		footer .footer-wrapper ul li{
			display: inline-block;
		}
		footer .footer-wrapper ul li.circle{
			border-radius: 50%;
			width: 0.38rem;
			background-color: rgb(255, 255, 255);
			height: 0.38rem;
			margin: 0 1rem 0.4rem 0.3rem;
			display: inline-block;
		}
	}